.left-image {
  height: 1vw;
}
.my-image {
  overflow: hidden;
}
.signup-container {
  background-color: #f9ffda;
  min-height: 100vh;
  min-width: 100vw;
  /* height: 100vh; */
}
.link {
  color: #7866dd;
}
.submit-button {
  background-color: #7866dd;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* trying animation */
  
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  
  transition: 0.2s all; 
}
.submit-button:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 
.submit-button:disabled {
  filter: grayscale(100%);
}
.submit-button:disabled:hover {
  cursor: not-allowed;
}
.vw{
  color: #2f47a2;
}